/*公共样式*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body, .swiper-container {
    width: 100%;
    height: 100%;
    font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
}


/*箭头动画以及样式*/
@-webkit-keyframes start {
    0%, 30% {
        opacity: 0;
        -webkit-transform: translate(0, -50px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, 50px);
    }
}

#array {
    position: absolute;
    z-index: 999;
    -webkit-animation: start 2.5s infinite ease-in-out;
    width: 30px;
    height: 30px;
    bottom: 30px;
    left: 50%;
    margin-left: -15px;
}

/*等待页面以及动画*/
.loading {
    width: 100%;
    height: 100%;
    background: url("../img/bg.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    z-index: 1000;
    -webkit-animation-duration: 1s;
}

.loading img {
    width: 100%;
    position: absolute;
    top: 20%;
}

@-webkit-keyframes logoStart {
    0% {
        -webkit-transform: translate(0, 200px) rotateX(0deg);
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }

}

.logo {
    width: 100%;
    -webkit-animation: logoStart 1.5s infinite alternate;
}

/*页面*/
.swiper-slide {
    position: relative;
}

/*了解中润*/
.swiper-slide img, .swiper-slide div, .swiper-slide p {
    position: absolute;
}

.page1 {
    background: url("../img/page1Bg.png");
    background-size: 100% 100%;
}

.page1 .bigTitle {
    width: 42.1875%;
    top: 2.37623%;
    left: 26.25%;
}

.page1 .rightImg {
    width: 24%;
    top: 2%;
    left: 72%;
}

.page1 div {
    width: 30%;
    height: 18px;
    line-height: 18px;
    text-align: center;
    padding: 5px;
    border-radius: 30px;
    font-size: 18px;
    background: #fff;
    color: #44b1e9;
    left: 6.718%;
}

.page1 p {
    text-indent: 24px;
    left: 10%;
    width: 80%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
}

.page1 .smallTitle1 {
    top: 13.465%;
}

.page1 .smallTitle2 {
    top: 36.7%;
}

.page1 .smallTitle3 {
    top: 64%;
}

.page1 .text1 {
    top: 20%;
}

.page1 .text2 {
    top: 43%;
}

.page1 .text3 {
    top: 70%;
}

/*福利待遇*/
.page6,.page2 {
    background: #fff;
}

.page2 .bigTitle,.page6 .bigTitle {
    width: 44.6875%;
    top: 2.37623%;
    left: 26.25%;
}
.page2 .bigTitle,.page6 .bigTitle{
    position: absolute;
}
.page6 img,.page2 img{
    position: static;
    width: 100%;
    vertical-align : bottom
}
.page2 .pageTow1{
    margin-top: 15%;
}

.page6 .pageTow5{
    margin-top: 15%;
}




/*合作伙伴*/
.page3{
    background: #fff;
}
.page3 .bigTitle {
    width: 49.218%;
    top: 2.37623%;
    left: 26.563%;
}

.page3 .pageThree1 {
    width: 77.344%;
    top: 56.960%;
    left: 11.468%;
}

.page3 .pageThree2 {
    width: 94.531%;
    top: 13.069%;
    left: 3.4375%;
}

/*公司理念*/
.page4{
    background: #fff;
}
.page4 .bigTitle {
    width: 52.031%;
    top: 2.37623%;
    left: 26.563%;
}

.page4 .page4Bg {
    width: 100%;
    top: 16%;
}

/*中润风采*/
.page5 {
    background: #fff;

}

.page5 img {
    width: 100%;
}

.page5 .bigTitle {
    top: 0;
}


/*发展史*/
.page7,.page8,.page9{
    background: url("../img/page7Bg.png");
    background-size: 100% 100%;
}


.page7 img,.page8 img,.page9 img {
    width: 100%;
    position: static;
}

.page7 .pageTow,.page8 .pageTow{
    margin-top: 2%;
}
.page9 .pageTow{
    margin-top: 1%;
}




























